<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security
						http://www.springframework.org/schema/security/spring-security.xsd">

    <!--<http pattern="/*" security="none"/>-->
    <debug/>

    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="one" password="{noop}two" authorities="IS_AUTHENTICATED_FULLY" />
            </user-service>
        </authentication-provider>
    </authentication-manager>

    <http>
        <intercept-url pattern="/welcome" access="permitAll()"/>
        <form-login/>
        <logout/>
    </http>

</b:beans>